{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ empleado.first_name }}
{% endblock title %}


{% block content %}
    {% include "includes/header.html" %}

    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell large-4 card" style="width: 300px; margin-top: 30px;">
                <div class="card-divider">
                  {{ empleado.get_job_display }}
                </div>
                {% if empleado.image %}
                    <img src="{{ empleado.image.url }}">
                {% else %}
                <img src="{% static 'img/nada.png' %}">
                {% endif %}
                <div class="card-section">
                  <h4>{{ empleado.first_name }} {{ empleado.last_name }}</h4>
                  <p>{{ empleado.departamento.name  }}</p>
                  <p>{{ empleado.departamento.shor_name  }}</p>
                  <p><span class="label">Habilidadeds:</span></p>
                  <ul class="vertical menu">
                    {% for h in empleado.habilidades.all %}
                        <li>{{ h.habilidad }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        </div>
    </div>

<!-- Investigar como seleccionar un valor de una lista job-->    

{% endblock content %}